* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'DM Sans';
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    border-radius: 10px;
    /* This adds the border radius */
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    /* Border radius for the scrollbar thumb */
}

body,
html {
    background-color: var(--theme-ui-colors-border-basic-color-1);
}

.NavBar {
    background-color: var(--theme-ui-colors-border-basic-color-1);
    // width: 100%;
    padding: .32cm 10vw;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    .menu-item {
        color: white;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: .3cm;
    }

    .signin-nav {
        background-color: rgba(153, 207, 255, 0.08);
        color: rgb(153, 207, 255);
        min-width: 32px;
        min-height: 32px;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid rgb(153, 207, 255);
        box-sizing: border-box;
        font-weight: 400;
    }

    .signup-nav {
        background-color: #99cfff;
        color: #222b45;
        min-width: 32px;
        min-height: 32px;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid rgb(153, 207, 255);
        box-sizing: border-box;
        font-weight: 400;
    }
}

.Home {
    .home-lower {
        padding: 1cm 10vw;
    }

    // border: 1px solid white;

    .welcome-div {
        padding: 1.06cm 10vw;
        background: linear-gradient(90deg, var(--theme-ui-colors-color-primary-800) 20%, var(--theme-ui-colors-color-primary-400) 80%);
    }

    .welcome {
        font-size: 36px;
        color: white;
        font-weight: 500;
    }

    .courses-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .4cm;
    }

    .courses-head {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .course {
        width: 230px;
        background-color: var(--theme-ui-colors-border-basic-color-4);
        padding: 12px;
        border-radius: 10px;

    }

    .course-img-box {
        width: 100%;
        border-radius: 10px;

    }

    .course-img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--theme-ui-colors-border-basic-color-1);
    }

    .course-name {
        font-size: 1rem;
        font-weight: 500;
        user-select: none;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Limit to 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .course-dets-box {
        display: flex;
        flex-direction: column;
        gap: .3cm;
        margin-top: 8px;
        justify-content: center;
    }

    .course-price-box {
        display: flex;
        align-items: center;
        gap: .2cm;

    }

    .course-dis-price {
        font-size: 1rem;
        font-weight: 500;
    }

    .course-price {
        text-decoration-line: line-through;
        color: rgb(143, 155, 179);
        font-size: 0.875rem;
        font-weight: 400;
    }

    .lessons {
        font-size: 0.875rem;
        font-weight: 400;
    }


    .courses-box {
        margin-top: .5cm;
    }

}


.CoursePage {
    padding: 1cm 10vw;
    border-top: 1px solid var(--theme-ui-colors-border-basic-color-4);

    .course-page {
        display: flex;
        gap: .7cm;
    }

    .course-page-right {
        width: 500px;
        // min-width: 320px;
        height: auto;
        // border: 1px solid white;
        padding: 12px;
        border-radius: 10px;
        background-color: var(--theme-ui-colors-border-basic-color-4);
        height: fit-content;
    }



    .course-page-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .3cm;
    }

    .course-page-img-box {
        width: 100%;
    }

    .course-page-img {
        width: 100%;
        border-radius: 10px;
    }

    .course-page-price-div {
        display: flex;
        align-items: center;
        gap: .3cm;
    }

    .course-page-price {
        font-weight: 500;
        font-size: 1.625rem;
    }

    .course-page-price-real {
        font-weight: 500;
        font-size: 1rem;
        color: rgb(143, 155, 179);
        text-decoration-line: line-through;
    }

    .expire-text {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .expire-div {
        display: flex;
        align-items: center;
        gap: .1cm;
    }

    .stopwatch {
        width: .45cm;
    }

    .buy-now-course-page {
        background-color: #99cfff;
        color: #222b45;
        width: 100%;
        border: 1px solid #99cfff;
        border-radius: 5px;
        padding: 12px 10px;
        font-size: 16px;
        margin-top: .3cm;
        cursor: pointer;
    }

    .course-page-right-lower {
        display: flex;
        flex-direction: column;
        gap: .2cm;
        margin-top: 12px;
        padding-bottom: .5cm;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-1);
    }

    .subs-div {
        display: flex;
        align-items: center;
        gap: .15cm;
    }

    .book {
        width: .4cm;
    }

    .course-included {
        margin-top: .3cm;
        display: flex;
        flex-direction: column;
        gap: .3cm;
        padding-bottom: .2cm;
    }

    .included-head {
        font-size: 1rem;
        font-weight: 500;
    }

    .nsubs {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .course-page-name {
        font-size: 2.25rem;
        font-weight: 500;
    }

    .course-desc {
        font-size: 1rem;
        font-weight: 400;
    }

    .contents-course-page {
        font-size: 1.625rem;
        font-weight: 500;
        margin-top: .2cm;
    }

    .course-page-sub {
        display: flex;
        align-items: flex-start;
        gap: .5cm;
    }

    .sub-dets {
        display: flex;
        flex-direction: column;
        gap: .2cm;

    }

    .sub-name {
        font-size: 1rem;
        font-weight: 500;
    }

    .sub-videos {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .sub-img {
        width: 5cm;
        border-radius: 10px;
    }

    .course-page-subjects {
        display: flex;
        flex-direction: column;
        gap: .5cm;

        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        border-radius: 10px;
        padding: .4cm;
        overflow-y: auto;
        max-height: 15cm;
    }
}