* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'DM Sans';
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    border-radius: 10px;
    /* This adds the border radius */
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    /* Border radius for the scrollbar thumb */
}

body,
html {
    background-color: var(--theme-ui-colors-border-basic-color-1);
}

.NavBar {
    background-color: var(--theme-ui-colors-border-basic-color-1);
    // width: 100%;
    padding: .32cm 5vw;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 80px;
        height: auto;
        cursor: pointer;
    }

    .menu-item {
        color: white;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: .3cm;
    }

    .signin-nav {
        background-color: rgba(153, 207, 255, 0.08);
        color: rgb(153, 207, 255);
        min-width: 32px;
        min-height: 32px;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid rgb(153, 207, 255);
        box-sizing: border-box;
        font-weight: 400;
    }

    .signup-nav {
        background-color: #99cfff;
        color: #222b45;
        min-width: 32px;
        min-height: 32px;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid rgb(153, 207, 255);
        box-sizing: border-box;
        font-weight: 400;
    }

    .userr {
        width: 1.2cm;
    }

    .dropdown-content {
        display: flex;
        flex-direction: column;
        width: 5cm;
        position: fixed;
        z-index: 10;
        background-color: #151a30;


        a {
            padding: .3cm;
        }
    }

    @media only screen and (max-width : 600px) {
        .logo {
            width: 70px;
        }

        .userr {
            width: 1cm;
        }
    }
}

.Home {
    .home-lower {
        padding: 1cm 5vw;
    }

    .hi-text {
        font-size: 1.375rem;
    }

    // border: 1px solid white;

    .welcome-div {
        padding: 1.06cm 5vw;
        background: linear-gradient(90deg, var(--theme-ui-colors-color-primary-800) 20%, var(--theme-ui-colors-color-primary-400) 80%);
    }

    .welcome {
        font-size: 36px;
        color: white;
        font-weight: 500;
    }

    .courses-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .4cm;
    }

    .courses-head {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .course {
        width: 230px;
        background-color: var(--theme-ui-colors-border-basic-color-4);
        padding: 12px;
        border-radius: 10px;

    }

    @media only screen and (max-width : 600px) {
        .course {
            width: 100%;
        }
    }

    .course-img-box {
        width: 100%;
        border-radius: 10px;

    }

    .course-img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--theme-ui-colors-border-basic-color-1);
    }

    .course-name {
        font-size: 1rem;
        font-weight: 500;
        user-select: none;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Limit to 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .course-dets-box {
        display: flex;
        flex-direction: column;
        gap: .3cm;
        margin-top: 8px;
        justify-content: center;
    }

    .course-price-box {
        display: flex;
        align-items: center;
        gap: .2cm;

    }

    .course-dis-price {
        font-size: 1rem;
        font-weight: 500;
    }

    .course-price {
        text-decoration-line: line-through;
        color: rgb(143, 155, 179);
        font-size: 0.875rem;
        font-weight: 400;
    }

    .lessons {
        font-size: 0.875rem;
        font-weight: 400;
    }


    .courses-box {
        margin-top: .5cm;
    }




}


.CoursePage {
    padding: 1cm 5vw;
    border-top: 1px solid var(--theme-ui-colors-border-basic-color-4);

    .course-page {
        display: flex;
        gap: .7cm;
    }





    .course-page-right {
        width: 320px;
        // min-width: 320px;
        height: auto;
        flex-shrink: 0;
        // border: 1px solid white;
        padding: 12px;
        border-radius: 10px;
        background-color: var(--theme-ui-colors-border-basic-color-4);
        height: fit-content;
    }




    .course-page-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .3cm;
    }

    .course-page-img-box {
        width: 100%;
    }

    .course-page-img {
        width: 100%;
        border-radius: 10px;
    }

    .course-page-price-div {
        display: flex;
        align-items: center;
        gap: .3cm;
    }

    .course-page-price {
        font-weight: 500;
        font-size: 1.625rem;
    }

    .course-page-price-real {
        font-weight: 500;
        font-size: 1rem;
        color: rgb(143, 155, 179);
        text-decoration-line: line-through;
    }

    .expire-text {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .expire-div {
        display: flex;
        align-items: center;
        gap: .1cm;
    }

    .stopwatch {
        width: .45cm;
    }

    .buy-now-course-page {
        background-color: #99cfff;
        color: #222b45;
        width: 100%;
        border: 1px solid #99cfff;
        border-radius: 5px;
        padding: 12px 10px;
        font-size: 16px;
        margin-top: .3cm;
        cursor: pointer;
    }

    .course-page-right-lower {
        display: flex;
        flex-direction: column;
        gap: .2cm;
        margin-top: 12px;
        padding-bottom: .5cm;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-1);
    }

    .subs-div {
        display: flex;
        align-items: center;
        gap: .15cm;
    }

    .book {
        width: .4cm;
    }

    .course-included {
        margin-top: .3cm;
        display: flex;
        flex-direction: column;
        gap: .3cm;
        padding-bottom: .2cm;
    }

    .included-head {
        font-size: 1rem;
        font-weight: 500;
    }

    .nsubs {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .course-page-name {
        font-size: 2.25rem;
        font-weight: 500;
    }

    .course-desc {
        font-size: 1rem;
        font-weight: 400;
    }

    .contents-course-page {
        font-size: 1.625rem;
        font-weight: 500;
        margin-top: .2cm;
    }

    .course-page-sub {
        display: flex;
        align-items: flex-start;
        gap: .5cm;
    }




    .sub-dets {
        display: flex;
        flex-direction: column;
        gap: .2cm;

    }

    .sub-name {
        font-size: 1rem;
        font-weight: 500;
    }

    .sub-videos {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .sub-img {
        width: 5cm;
        border-radius: 10px;
    }

    .course-page-subjects {
        display: flex;
        flex-direction: column;
        gap: .5cm;

        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        border-radius: 10px;
        padding: .4cm;
        overflow-y: auto;
        max-height: 15cm;
    }

    @media only screen and (max-width : 1000px) {
        .course-page {
            flex-direction: column-reverse;
            gap: .5cm;
        }

        .course-page-subjects {
            max-height: auto;
            height: auto;
            margin-top: 1cm;
        }
    }

    @media only screen and (max-width : 600px) {
        .course-page-right {
            width: calc(100% - 5vw);
        }

        // .course-page-sub{
        //     flex-direction: column;
        // }

        .sub-img {
            width: 3cm;
            border-radius: 10px;
        }
    }

    @media only screen and (max-width : 500px) {

        .course-page-sub {
            flex-direction: column;
            border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-4);
            padding-bottom: .3cm;
        }

        .sub-img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

.VideoPage {
    .video-page {
        display: flex;
        height: 83svh;
        padding: .5cm 5vw;
    }


    .video-page-left {
        width: 100%;
        border-right: 1px solid var(--theme-ui-colors-border-basic-color-4);
        overflow-y: auto;
        max-height: 100svh;
    }

    .video-page-right {
        width: 12cm;
        flex-shrink: 0;
        max-height: 100svh;
        overflow: hidden;

    }



    .syllabus-video-head {
        display: flex;
        align-items: center;
        gap: .2cm;
    }

    .syllab-head {
        font-size: 1.375rem;
        font-weight: 500;
        padding: .3cm;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-4);
    }

    .video-img {
        width: .4cm;
        opacity: .6;
    }

    .video-name {
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .video-time {
        font-size: .75rem;
        font-weight: 400;
        color: var(--theme-ui-colors-text-basic-color-2);
        opacity: 0.8;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin-left: .7cm;
    }

    .syllabus-video {
        display: flex;
        flex-direction: column;
        gap: .2cm;
        padding: .5cm .3cm;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-4);
    }

    .video-page-left-head {
        display: flex;
        align-items: center;
        gap: .5cm;
        padding: .3cm;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-4);
    }

    .sub-name-video {
        font-size: 1rem;
        font-weight: 400;
    }

    .larr {
        width: .3cm;
        cursor: pointer;
    }

    .video-player {
        // border: 1px solid white;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-4);
        background-color: #151a30;
        aspect-ratio: 16/9;
    }

    .vp-course-name {
        font-size: 1.625rem;
        font-weight: 500;
    }

    .vp-course-price-dis {
        font-size: 1.375rem;
        font-weight: 500;
    }

    .vp-course-price {
        font-size: 1rem;
        font-weight: 400;
        text-decoration-line: line-through;
        color: rgb(197, 206, 224);
    }

    .syllabus-videos {
        overflow-y: auto;
        max-height: 90svh;
    }

    .vp-buy-now {
        padding: .3cm .6cm;
        background-color: #99cfff;
        color: #222b45;
        border: 1px solid #99cfff;
        font-size: 16px;
        border-radius: 5px;
        width: fit-content;
        margin-top: .5cm;
    }

    .vp-course-price-div {
        display: flex;
        align-items: center;
        gap: .3cm;
    }

    .video-player-course-dets {
        display: flex;
        flex-direction: column;
        gap: .3cm;
        // border: 1px solid white;

    }

    .vp-course-dets-box {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        height: 100%;
        padding: .5cm 1cm;
    }

    .tilldate {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .signinvp {
        font-size: 1rem;
    }

    .signintext {
        color: blueviolet;
        text-decoration: underline;
        cursor: pointer;
    }

    .about-bar-vp {
        padding: .3cm .5cm;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-4);
    }

    .vp-about-section {
        padding: .5cm;
        display: flex;
        flex-direction: column;
        gap: .3cm;
        margin-bottom: .5cm;

    }

    .video-iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .vp-video-big-name {
        font-size: 1.875rem;
        font-weight: 500;
    }

    .author-section {
        margin-top: .7cm;
        display: flex;
        gap: .3cm;
        flex-direction: column;
    }

    .author-img {
        width: 1.3cm;
        border-radius: 50%
    }

    .author-data {
        display: flex;
        align-items: center;
        gap: .2cm;
        margin-top: .2cm;
    }

    .author-name {
        font-size: 1rem;
        font-weight: 500;
    }

    .vp-about-section {
        display: flex;
        flex-direction: column;
    }


    @media only screen and (max-width : 1200px) {
        .video-page-right {
            width: 9cm;
        }
    }

    @media only screen and (max-width : 1100px) {
        .video-page-right {
            width: 8cm;
        }
    }

    @media only screen and (max-width : 1000px) {


        .video-page {
            display: flex;
            height: auto;
            flex-direction: column;
            padding: .5cm 5vw;
        }

        .author-section,
        .about-bar-vp,
        .tilldate {
            display: none;
        }




        .video-page-left {
            width: 100%;
            border-right: 1px solid var(--theme-ui-colors-border-basic-color-4);
            overflow-y: hidden;
            max-height: auto;
        }

        .video-page-right {
            width: 100%;
            margin-top: 1cm;
            flex-shrink: 0;
            max-height: auto;
            overflow: hidden;

        }
    }



}

.SignIn {
    padding: 1cm 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .signin-logo {
        width: 4cm;
        height: auto;
    }

    .create-account-head {
        font-size: 1.625rem;
        font-weight: 500;
    }

    .signin-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5cm;

        // border: 1px solid white;
        width: fit-content;
    }

    .signin-form {
        display: flex;
        flex-direction: column;
        gap: .5cm;
        width: 8cm;
    }

    .google {
        width: 8cm;
        padding: .3cm;
        background-color: #4285F4;
        border: 1px solid #4285F4;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
    }

    .already-account {
        font-size: 1rem;
        font-weight: 400;
    }

    .signin-button {
        font-size: .75rem;
        font-weight: 400;
        color: var(--theme-ui-colors-link);
        opacity: 0.8;
        text-decoration-line: underline;
        cursor: pointer;
    }

    .signin-input {
        background-color: rgb(16, 20, 38);
        border-radius: 4px;
        border: 1px solid rgb(34, 43, 69);
        padding: .3cm;
        font-size: 1rem;
    }

    .signin-submit {
        background-color: var(--theme-ui-colors-border-basic-color-4);
        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        font-size: 1rem;
        padding: .3cm;
        border-radius: 4px;
        color: #99cfff;
    }

    .forget {
        font-size: 0.75rem;
        font-weight: 400;
        cursor: pointer;
        user-select: none;

        text-decoration-line: underline;

        color: var(--theme-ui-colors-text-basic-color-2);
        opacity: 0.8;

    }

    .explore {
        font-size: 1rem;
        font-weight: 400;
    }

    .explorebut {
        font-size: .75rem;
        font-weight: 400;
        text-decoration-line: underline;
        color: var(--theme-ui-colors-link);
        opacity: 0.8;
        cursor: pointer;
    }

    .esign {
        margin-top: .3cm;
    }

    .agreement {
        margin-top: .5cm;
        font-size: .75rem;
        font-weight: 400;
    }

}

.Account {
    .account-sec {
        padding: 1cm 5vw;
        display: flex;
        flex-direction: column;
        gap: 1cm;
    }

    .account-dets {
        display: flex;
        gap: .5cm;
    }

    .account-dets-left {
        width: 7cm;
        // border: 1px solid white;
        padding-right: .2cm;
        border-right: 1px solid var(--theme-ui-colors-border-basic-color-3);
    }

    .account-dets-right {
        width: 100%;
        // border: 1px solid red;
    }

    .account-text {
        font-size: 1.875rem;
    }

    .acc-dets-text {
        font-size: 1rem;
        font-weight: 400;
    }

    .account-dets-menu {
        display: flex;
        flex-direction: column;
        gap: .1cm;
    }

    .account-dets-menu-item {
        display: flex;
        align-items: center;
        gap: .3cm;
        padding: .4cm;
        cursor: pointer;
        // border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;

        &:hover {
            background-color: var(--theme-ui-colors-border-basic-color-4);
        }
    }

    .activeM {
        background-color: var(--theme-ui-colors-border-basic-color-4);
    }

    .acc-dets-img {
        width: .7cm;
    }
}

.Profile {
    .profile-box {
        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        padding: .5cm;
        border-radius: 10px;
    }

    .profile-box-det {
        display: flex;
        align-items: center;
        gap: .2cm;
        justify-content: space-between;
        border-bottom: 1px solid var(--theme-ui-colors-border-basic-color-3);
        padding: .5cm 0cm;
    }

    .write {
        width: .4cm;
        opacity: .8;
        cursor: pointer;
    }

    .profile-det-head {
        display: flex;

        gap: .5cm;

    }

    .profile-det-label {
        width: 4cm;
        font-size: 1rem;
        font-weight: 400;
        color: var(--theme-ui-colors-text-basic-color-2);
        // border: 1px solid red;
    }

    .profile-det-text {
        font-size: 1rem;
    }
}

.Enrollments {
    .enrollment-box {
        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        border-radius: 10px;
        padding: .5cm;
    }

    .enroll-img {
        width: 7cm;
        border-radius: 10px;
    }

    .enrollments {
        display: flex;
        flex-direction: column;
        gap: .3cm;
    }

    .enrollment {
        display: flex;
        gap: .5cm;
        background-color: var(--theme-ui-colors-border-basic-color-4);
        padding: .3cm;
        border-radius: 10px;

    }

    .enrollment-right {
        display: flex;
        gap: .3cm;
        flex-direction: column;

    }

    .purchased {
        color: #151a30;
        background-color: rgb(254, 244, 207);
        width: fit-content;
        padding: .1cm .2cm;
        font-size: small;
        border-radius: 5px;
    }

    .enrolll-name {
        font-size: 1rem;
        font-weight: 500;
    }

    .enroll-subs {
        font-size: 0.875rem;
        color: rgb(197, 197, 197);
    }

    .account-outlet-head {
        font-size: 1.375rem;
        font-weight: 500;
        margin-bottom: .2cm;
    }
}

.Invoices {
    border: 1px solid var(--theme-ui-colors-border-basic-color-4);
    border-radius: 10px;
    padding: .5cm;

    .account-outlet-head {
        font-size: 1.375rem;
        font-weight: 500;
        margin-bottom: .2cm;
    }

    .invoices {
        display: flex;
        flex-direction: column;
        gap: .3cm;
    }

    .invoice {
        display: flex;
        align-items: center;
        gap: .3cm;
        justify-content: space-between;
        background-color: var(--theme-ui-colors-border-basic-color-4);
        padding: .5cm .5cm;
        border-radius: 5px;
    }

    .invoice-name {
        font-size: 1rem;
        font-weight: 500;

    }

    .dimg {
        width: .5cm;
        cursor: pointer;
    }

}

.Checkout {
    padding: 1cm 5vw;

    .checkout-box {
        display: flex;

        gap: .5cm;

    }

    .checkout-left {
        width: 100%;
        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        padding: 0.5cm;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: .5cm;
    }

    .checkout-right {
        width: 12cm;
        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        flex-shrink: 0;
        border-radius: 10px;
        height: fit-content;
        padding: .5cm;
        display: flex;
        flex-direction: column;
        gap: .5cm;
    }

    .checkout-img {
        width: 3cm;
        border-radius: 5px;
    }

    .checkout-left-div {
        display: flex;
        align-items: flex-start;
        gap: .3cm;
    }

    .checkout-name {
        font-size: 1.375rem;
        font-weight: 500;
    }

    .checkout-per-dets {
        display: flex;
        flex-direction: column;
        width: 10cm;
        gap: .3cm;

    }

    .checout-input {
        padding: .3cm;
        background-color: transparent;
        border: 1px solid var(--theme-ui-colors-border-basic-color-4);
        border-radius: 5px;
        font-size: 1rem;
    }

    .pdets {
        margin-top: .5cm;
    }

    .pay-det {
        display: flex;
        justify-content: space-between;
    }

    .item-head {
        font-size: 1rem;
        font-weight: 400;
    }

    .pay-main {
        font-size: 1rem;
        font-weight: 500;
    }

    .disPay {
        color: rgb(232, 251, 196);
    }

    .subtotal {
        border-bottom: 1px solid rgb(21, 26, 48);
        padding-bottom: .5cm;
    }

    .pay-securely {
        padding: .4cm 1cm;
        color: #151a30;
        background-color: #99cfff;
        border: 1px solid #99cfff;
        border-radius: 5px;
        font-size: 1rem;
        margin-top: .5cm;
        width: fit-content;
        cursor: pointer;
    }

    .pay-button-div {
        display: flex;
        justify-content: flex-end;
    }


    @media only screen and (max-width : 1200px) {
        .checkout-box {
            flex-direction: column;
        }

        .checkout-right {
            width: calc(100% - 6vw);

        }

        .checkout-left {
            width: calc(100% - 6vw);
        }

        .checkout-per-dets {
            width: 100%;
        }
    }
}

.Footer {

    .footer-box {
        margin-top: 1cm;
        padding: .3cm 5vw;
        border-top: 1px solid var(--theme-ui-colors-border-basic-color-4);
    }

    .footer-img {
        width: 1cm;
    }

    .footer-menu {
        display: flex;
        align-items: center;
        gap: .3cm;
        margin-top: .2cm;
        flex-wrap: wrap;

    }

    .footer-menu-item {
        font-size: .75rem;
        cursor: pointer;
        color: var(--theme-ui-colors-text-basic-color-2);

        transition: .3s all;

        &:hover {
            text-decoration: underline;
        }
    }

    .nou {
        &:hover {
            text-decoration: none;
        }
    }
}

.Terms {
    .terms-box {
        padding: 1cm 5vw;
    }

    .terms-head {
        font-size: 1.375rem;
    }

    .content-div {
        margin-top: 1cm;
    }

    .content-head {
        font-size: 1.375rem;

    }


    .content-text {
        font-size: 1rem;
        color: rgb(218, 218, 218);
    }
}